html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #7ec0ee;
  color: white;
  text-align: center;
}

main  {   display: flex;   }

.title {
  font-size: 50px;
  padding-top: 10px;
  margin-bottom: 0px;
}

input {
  margin-top: 20px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border:  0px #7ec0ee;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #3293d0;
  transition: width 0.4s ease-in-out;
  color: #7ec0ee;
  outline: none;
}

input:hover {
          box-shadow: 3px 3px 3px 3px #87CEFA;
          transition: 0.35s;
}

.logos {
  margin-left: 20%;
  margin-bottom: -50px;
  margin-right: 22%;
  margin-top: 5px;
  display: flex;
}

.openweathermap_logo {
  height: 150px;
  width: 150px;
  background-image: url("../images/openweathermap_logo.png");

}

.forecast {
  width: 80%;
  margin-top: 30px;
  margin-right: 20px;
   }

.row {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.72);
  margin-bottom: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 3px 3px #3293d0;
  display: flex;
  font-size: 25px;
  height: 70px;
}

.day {
  margin-left: 10px;
  width: 25%;
  text-align: left;

}

.temp {
  width: 25%;
  padding-top: 5px;

}

.column {
  margin-top: 30px;
  color: black;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.72);
  margin-bottom: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 3px 3px 3px #3293d0;
  display: flex;
  font-size: 25px;

}
