html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #7ec0ee;
  color: white;
  text-align: center;
}

header {
  background-image: url("../images/background.jpg");
  background-position-y: -90px;
  background-size: cover;
  height: 225px;
}


a:link { color: white;}
a:visited{ color: white;}
a:hover {color: black;}

main  {   display: flex;   }

.title {
  font-size: 50px;
  padding-top: 25px;
  margin-bottom: 0px;
}

input {
  margin-top: 20px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border:  0px #7ec0ee;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #3293d0;
  transition: width 0.4s ease-in-out;
  color: #7ec0ee;
  outline: none;
}

input:hover {
          box-shadow: 3px 3px 3px 3px #87CEFA;
          transition: 0.35s;
}

.logos {
  margin-left: 20%;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
}

.provider { width: 33.333%; }

.media {
  margin-left: 80%;
}

/*.openweathermap_logo {
  height: 150px;
  width: 150px;
  background-image: url("../images/openweathermap_logo.png");

}*/

.forecast {
  width: 80%;
  margin-right: 20px;
   }

.row {
  color: #68b4ef;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.72);
  margin-bottom: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 3px 3px #3293d0;
  display: flex;
  font-size: 25px;
  height: 70px;
}

.line_row {
  width: 2px;
  height: 90%;
  background-color: rgb(162, 207, 238);
}


.day {
  margin-left: 10px;
  width: 25%;
  text-align: left;

}

.temp {
  width: 25%;
  padding-top: 5px;

}

.column {
  color: #68b4ef;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.72);
  margin-bottom: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -3px 3px 3px #3293d0;
  font-size: 25px;

}

.media {
  margin-left: 0px;
  width: 100%;
  height: 70px;
  font-size: 27px;
  padding-bottom: 10px;

}

.line_column {
  margin-left: 15px;
  width: 90%;
  height: 2px;
  background-color: rgb(162, 207, 238);
}

.login {
  margin-top: 50px;
  margin-bottom: 75px;
}

footer {  margin-bottom: 20px;  }
